*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
      font-size: 14px;
          font-family: "Cairo", sans-serif;
}


.e{
  border: 2px  solid rgb(0, 0, 0);
  background: blueviolet;
  /* width: 100%; */
}

.d{
  border: 2px solid rgb(0, 0, 0);
  background: green;
}

.c{
  border: 2px solid black;
  background: yellow;
}

.a{
  border: 2px solid rgb(0, 0, 0);
  background: rgb(192, 255, 192);
}

.b{
  border: 2px solid black;
  background: rgb(212, 177, 0);
}