.signup-form {
  border: 2px solid black;
  border-radius: 20px;
  justify-content: center;
  text-align: left;
  align-items: center;
  width: 40vw;
  background-color: rgb(221, 232, 242);
  display: flex;
  margin: 10vh 20vw;
  padding: 10vh 2vw;
}
.signup-form label {
  font-size: 1.5rem;
  font-weight: 700;
}

.login-account a{
  text-decoration: none;
  color: rgb(0, 0, 0);font-weight: 600;
  font-size: 1.4rem;
}

.login-account :hover
{

  color: rgb(255, 0, 0);
}