.topbar {
  background: #f5f5f5;
}

.topbar img {
  height: 3vh;
}

.logo-icon img {
  background-size: contain;
  width: 100%;
  min-width: 70px;
  padding-left: 20px;
}

.topbar a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.menu-items ul li a {
  font-weight: 800;
}

.cart-items {
  display: flex;
}
.menu-bar {
  display: none;
}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  .topbar {
    /* background: red; */
    display: none;
  }
  .cart-items {
    /* display: none !important; */
    display: none !important;
    /* opacity: 0; */
    /* background: #000; */
  }

  .menu-items,
  .icons-price {
    display: none;
  }
  .menu-bar {
    position: absolute;
    right: 0px;
    /* font-size: 2rem; */
    display: block;
    /* background: #000; */
  }
  .menu-bar svg {
    font-size: clamp(20px, 5vw, 50px);

  }  .show-menu {
    display: flex !important;
    background: #000;

  }

.hide-menu {
    display: none !important;
  }
}
/* // X-Small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) {   } */
/*

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */
